@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-lg-3">
        @Html.DropDownList("ddlCidade", new SelectList(ViewBag.Cidades, "Codigo", "Nome", ViewBag.CidadeAtual), new { @class = "form-control" })
    </div>
    <div class="col-12 col-lg-3 text-center clima-agora">
        Clima agora:
    </div>
    <div class="col-6 col-lg-3 text-center">
        Temperatura
        <div class="big-size">
            <span>@ViewBag.TemperaturaAtual</span> ºC
        </div>
    </div>
    <div class="col-6 col-lg-3 text-center">
        Umidade
        <div class="big-size">
            <span>@ViewBag.UmidadeAtual</span> %
        </div>
    </div>

</div>

<hr />

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="text-center">
            <div style="text-align: center">
                <canvas id="graficoTemperatura"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="text-center">
            <div style="text-align: center">
                <canvas id="graficoUmidade"></canvas>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ddlCidade").change(function () {
            window.location.href = '/Home/Index?codigoCidade=' + this.value;
        });
    });

    var GraficoTemperatura =
        {
            labels: [@Html.Raw(ViewBag.DiasTemperaturasMedias)],
            datasets: [{
                label: 'Temperatura Cº',
                backgroundColor: "rgba(75,192,192,0.4)",
                borderWidth: 2,
                data: [@ViewBag.TemperaturasMedias]
            }]
        };
    var GraficoUmidade =
        {
            labels: [@Html.Raw(ViewBag.DiasUmidadesMedias)],
            datasets: [{
                label: 'Umidade relativa do ar',
                backgroundColor: "rgba(75,192,192,0.4)",
                borderWidth: 2,
                data: [@ViewBag.UmidadesMedias]
            }]
        };

    window.onload = function () {
            var ctx1 = document.getElementById("graficoTemperatura").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'line',
                    data: GraficoTemperatura,
                    options:
                        {
                            title:
                            {
                                display: true,
                                text: "Temperatura média (Ultimos 7 dias)"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });

            var ctx2 = document.getElementById("graficoUmidade").getContext("2d");
            window.myBar = new Chart(ctx2,
                {
                    type: 'line',
                    data: GraficoUmidade,
                    options:
                        {
                            title:
                            {
                                display: true,
                                text: "Ummidade média (Ultimos 7 dias)"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });
        }
</script>
